<a href="https://colab.research.google.com/github/SosnovskayaYana/PYTHON_COURSE/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sample_data/california_housing_train.csv')

Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [4]:
df[df['population']<=500][['median_house_value']]

       median_house_value
2                 85700.0
7                 48500.0
17                25000.0
19                27500.0
21                59200.0
...                   ...
16944            130600.0
16951             67500.0
16969             60000.0
16982            107000.0
16994             76100.0

[1605 rows x 1 columns]

In [5]:
df[df['population'] <= 500]['median_house_value'].median()

169500.0

Узнать какая максимальная households в зоне минимального значения population

In [6]:
min_population = df['population'].min()
df[df['population'] == min_population]['households'].max()

4.0